/*
Name: Maanjaa
Version: 1.0
Author: Maanjaa
Author URI: http://maanjaa.com
Description: Multi Vendor Store
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import "sass/mixins";
@import "sass/base";
@import "sass/main";
@import "sass/wc";
@import "sass/buttons";
@import "sass/elements";
@import "sass/slick";
@import "sass/responsive";